.rock-salt-regular {
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}
nav{
  position: fixed;
  top: 0%;

  z-index: 99;
  width: 100%;
  background: black;
}
nav .wrapper{
  position: relative;
  max-width: 100%;
  padding: 0px 30px;
  height: 70px;
  line-height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .logo
{
    height: inherit;
}
.wrapper .logo a{
  color: #f2f2f2;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.wrapper .nav-links{
  display: inline-flex;
}
.nav-links li{
  list-style: none;
}
.nav-links li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.nav-links li a:hover{
  background: #3A3B3C;
}
.nav-links .mobile-item{
  display: none;
}
.nav-links .drop-menu{
  position: absolute;
  background: #242526;
  width: 180px;
  line-height: 45px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box{
  transition: all 0.3s ease;
  top: 70px;
  opacity: 1;
  visibility: visible;
}
.drop-menu li a{
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
  border-radius: 0px;
}
/* .mega-box{
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 30px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
} */
/* .mega-box .content{
  background: #242526;
  padding: 25px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.mega-box .content .row{
  width: calc(25% - 30px);
  line-height: 45px;
} */
.content .row img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content .row header{
  color: #f2f2f2;
  font-size: 20px;
  font-weight: 500;
}
/* .content .row .mega-links{
  margin-left: -40px;
  border-left: 1px solid rgba(255,255,255,0.09);
} */
.wrapper .btn{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.wrapper .btn.close-btn{
  position: absolute;
  right: 30px;
  top: 10px;
}

@media screen and (max-width: 970px) {
  .wrapper .btn{
    display: block;
  }
  .wrapper .nav-links{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0;
    left: -100%;
    background: #242526;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
    transition: all 0.3s ease;
  }
  /* custom scroll bar */
  #menu-btn:checked ~ .nav-links{
    left: 0%;
  }
  #menu-btn:checked ~ .btn.menu-btn{
    display: none;
  }
  #close-btn:checked ~ .btn.menu-btn{
    display: block;
  }
  .nav-links li{
    margin: 15px 10px;
  }
  .nav-links li a{
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }
  .nav-links .drop-menu{
    position: static;
    opacity: 1;
    top: 65px;
    visibility: visible;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.3s ease;
  }
  .nav-links .desktop-item{
    display: none;
  }
  .nav-links .mobile-item{
    display: block;
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .nav-links .mobile-item:hover{
    background: #3A3B3C;
  }
  .drop-menu li{
    margin: 0;
  }
  .drop-menu li a{
    border-radius: 5px;
    font-size: 18px;
  }
}
nav input{
  display: none;
}


/* *Css for images */

html,body {
    height:100%;
    min-height:100%;
    margin:0;
  }
  body {
    display: block;
    /* align-items:center; */
    justify-content:center;
    background-image:url(./Images/Stock/pexels-vincent-gerbouin-445991-2263686.jpg);

    background-size:cover;
    background-repeat: no-repeat;
  }
  /* * thumbnails */
  .thumbs {
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    width:100%;
    max-width: 100%;
    background-color: transparent;
    margin-top: 5%;
    overflow: visible;
    > a {
      max-width:60vh;
      height:60vh;
      margin:10px;
      overflow:hidden;
      border-radius:5px;
      border: 2px solid white;
      box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
      img {
        transform:scale(1);
        transition:transform 0.1s ease-in-out;
        filter:grayscale(50%);
        min-width:100%;
        min-height:100%;
        max-width:100%;
        max-height:100%;
      }
      &:hover {
        img {
          transform:scale(1.1);
          filter:grayscale(0%);
        }
      }
    }
  }
  /*  
  * enlarged image 
  */
  .lightbox {
    position:fixed;
    background:rgba(black,0.5);
    backdrop-filter:blur(10px);
    -webkit-backdrop-filter: blur(10px);
    height:100%;
    width:100%;
    left:0;
    top:0;
    transform:translateY(-100%);
    opacity:0;
    transition:opacity 0.5s ease-in-out;
    &:has(div:target) {
      transform:translateY(0%);
      opacity:1;
    }
    a.nav {
      text-decoration:none;
      color:white;
      font-size:40px;
      text-shadow:0 2px 2px rgba(black,0.8);
      opacity:0.5;
      font-weight:200;
      &:hover {
        opacity:1;
      }
    }
    .target {
      position:absolute;
      height:100%;
      width:100%;
      display:flex;
      transform:scale(0);
      align-items:center;
      justify-content:space-between;
      *:first-child,*:last-child {
        flex:0 0 100px;
        text-align:center;
        @media all and (max-width:600px){
          flex:0 0 50px;
        }
      }
      .image-content {
        transform:scale(0.9);
        opacity:0;
        flex:1 1 auto;
        align-self: center;
        margin-top: 9%;
        max-height:100%;
        min-height:0;
        max-width:calc(100% - 200px);
        min-width:0;
        border-radius:5px;
        overflow:hidden;
        box-shadow:0 0 0 3px white, 0 5px 8px 3px rgba(black, 0.6);
        transition:transform 0.25s ease-in-out,opacity 0.25s ease-in-out;
        img {
          min-width:fit-content;
          min-height:fit-content;
          max-width:fit-content;
          max-height:calc(100vh - 40px);
          display:block; 
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 10vh;
        }
      }
      &:target {
        transform:scale(1);
        .image-content {
          transform:scale(1);
          opacity:1;
        }
      }
    }
    /* 
    *Close button 
    */
    .close {
      position:absolute;
      right: 10px;
      top:15vh;
      font-size: 40px;
      color: #fff;
      text-decoration: none;
    }

}

.Centered-Section
{
  background-color: black;
  color: #f2f2f2;


  margin-top: 20vh;
  margin-left: 30vh;
  margin-right: 30vh;

  padding: 3vh;
  
  font-size: 25px;

  overflow: auto;
  max-height: 100%;
}
.Centered-Section header
{
  text-align: center;
  font-size: 40px;
  background-color: royalblue;
}
.Centered-Section p
{
  margin-top: 40px;
}


.Home-Intro
{
  background-color: black;
  color: white;

  display: block;

  margin-top: 5vh;
  margin-left: 20vh;
  margin-right: 20vh;

  padding: 3vh;

  font-size: 25px;

  overflow: auto;
  max-height: 100%;
}

.Home-Intro header
{
  text-align: center;
  font-size: 40px;
  background-color: royalblue;
}

.Home-Intro p
{
  margin-top: 40px;
  text-align: center;
}
